<h2> Sign up </h2>

<p> Sign up to this awesome app. </p>

<!-- We use typeof here to avoid an error since the variable sometimes
    doesnt exist -->
<% if (typeof messageForDumbUsers === "string") { %>
  <p class="error-message"> <%= messageForDumbUsers%> </p>
<% } %>


<form id="form" method="post" action="/signup">
  <label for="full-name-input"> Your Name </label>
  <input  id="full-name-input" type="text" name="signupFullName"
     placeholder="Enter full name">
  <br>

  <label for="username-input"> Username </label>
  <input  id="username-input" type="text" name="signupUsername"
    placeholder="Enter Username">
    <br>

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="signupPassword"
    placeholder="********">
    <br>
    <br>

  <button>Sign Up </button>
    <br>
</form>

<a href="/auth/facebook"> Log In with Facebook </a>
<br>

<a href="/auth/google"> Log In with Google </a>
<br>
