<div class="homebackground ">



<div class="eventcircle">
  <!-- <p class="homeevent"> Events </p> -->
  <!-- <a class="homeevent" href="/events"> Events </a> -->
</div>
<span><a class="homeevent" href="/events"> Events </a></span>


<div class="workshopcircle">
  <!-- <p class="homeworkshop"> Workshops </p> -->
  <!-- <a class="homeworkshop" href="/workshops"> Workshops </a> -->
</div>
<span><a class="homeworkshop" href="/workshops"> Workshops </a></span>
</div>
