<div class="homebackground"> </div>


<div class="eventcircle">
  <!-- <p class="homeevent"> Events </p> -->
  <a class="homeevent" href="/events"> Events </a>
</div>

<div class="workshopcircle">
  <!-- <p class="homeworkshop"> Workshops </p> -->
  <a class="homeworkshop" href="/workshops"> Workshops </a>
</div>
