/* DEFAULT STYLING ----------------------------------------------------*/
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("/images/background1.jpg");*/
  font-family: "Raleway";
  height: 100%;
  background-color: #f7f7f7;
}
/* END DEFAULT STYLING -----------------------------------------------*/


/* OVERALL LAYOUT STYLING --------------------------------------------*/
.page-header {
  margin-top: -20px;
  height: 100px;
  background-color: #ededed;
}

.page-header h1 {
  font-size: 38px;
  font-weight: bold;
  padding: 24px;
  padding-left: 40px;
  color: #545353;
}

.searchbar {
  position: absolute;
  border-radius: 20px;
  width: 250px;
  height: 38px;
  margin-top: -67px;
  margin-left: 59%;

}

.homelink {
  display: inline;
  padding: 40px;
  float: right;
  margin-top: -100px;
  margin-right: 120px;
  font-size: 20px;
  /*font-weight: bold;*/
  color: #588466;
}

.navbar li:hover{
  font-weight: bold;
  cursor: pointer;
}

.btn-group {
  float: right;
  padding-right: 30px;
  padding-left: 87px;
  margin-top: -65px;
}
/* HOMEPAGE STYLING --------------------------------------------------*/

.homebackground {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  background-image: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.eventcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: left;
  margin-left: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.eventcircle:hover {
  opacity: 0.9;
}

.homeevent{
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 68px;
  font-weight: bold;
  color: #588466;
  margin-left: -25%;
  margin-top: 33%;
}

.homeevent:hover{
  color: #588466;
  text-decoration: none;
}

.workshopcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: right;
  margin-right: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.workshopcircle:hover {
  opacity: 0.9;
}

.homeworkshop {
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 62px;
  font-weight: bold;
  margin-right: -300px;
  color: #588466;
  margin-top: 33%;
  margin-left: 220px;
}

.homeworkshop:hover{
  color: #588466;
  text-decoration: none;
}

.event-details-page {
  background-color: #eff2f1;
  height: 100%;
}

/* EVENT LIST VIEW STYLING ---------------------------------------*/

.media1 {
  height: 60px;
  background-color: #cee2da;
  margin-top: -15px;
}

.media1 h4 {
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

.media {
  width: 100%;
  height: 200px;
  margin: 30px;
}
/*
.media img{
  height: 120px;
  width: 120px;
}*/

/* EVENT & WORKSHOP DETAILS VIEW STYLING ------------------------------------*/

.event-details-page {
  background-image: url("/images/background2.jpg");
  font-family: "Nothing You Could Do", cursive;
  color: #588466;
  font-weight: bold;
  font-size: 50px;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 70px;
}

.edit-delete-link {
  text-align: center;
  border: 1px solid #588466;
  border-radius: 70px;
  padding: 20px;
  width: 210px;
  font-size: 22px;
  display: inline-block;
  background-color: white;
  color: #588466;
  margin-left: 570px;
}

.details-box {
  /*position: absolute;*/
  bottom: 60px;
  left: 250px;
  background-color: #77a894;
  opacity: 0.9;
  width: 800px;
  height: 650px;
  text-align: center;
  border: 5px solid #588466;
  -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow:hidden;
    -webkit-box-shadow:0 0 4em rgb(4,6,5);
    -moz-box-shadow:0 0 3em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
  margin: 0 auto;
}

.details-content {
  width: 600px;
  margin: 0 auto;
  font-family: "Raleway";
  font-size: 24px;
  color: black;
}

.details-content h3 {
  font-size: 34px;
  font-weight: bold;
}

.media img {
  height: 200px;
  width: 250px;
}

/* END EVENT & WORKSHOP DETAILS VIEW STYLING ------------------------------------*/


/* FOOTER STYLING -------------------------------------------------------*/
