/* DEFAULT STYLING ----------------------------------------------------*/
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("/images/background1.jpg");*/
  font-family: "Raleway";
  height: 100%;
  background-color: #f7f7f7;
}
/* END DEFAULT STYLING -----------------------------------------------*/


/* OVERALL LAYOUT STYLING --------------------------------------------*/
.page-header {
  margin-top: -20px;
  height: 100px;
  background-color: #ededed;
}

.page-header h1 {
  font-size: 38px;
  font-weight: bold;
  padding: 24px;
  padding-left: 40px;
  color: #545353;
}

.searchbar {
  position: absolute;
  border-radius: 20px;
  width: 250px;
  height: 38px;
  margin-top: -67px;
  margin-left: 59%;

}

.homelink {
  display: inline;
  padding: 40px;
  float: right;
  margin-top: -100px;
  margin-right: 120px;
  font-size: 20px;
  font-weight: bold;
  color: #588466;
}

.navbar li:hover{
  font-weight: bold;
  cursor: pointer;
}

.btn-group {
  float: right;
  padding-right: 30px;
  padding-left: 87px;
  margin-top: -65px;
}
/* HOMEPAGE STYLING --------------------------------------------------*/

.homebackground {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  background-image: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.eventcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: left;
  margin-left: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.eventcircle:hover {
  opacity: 0.9;
}

.homeevent{
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 68px;
  font-weight: bold;
  color: #588466;
  margin-left: -25%;
  margin-top: 33%;
}

.homeevent:hover{
  color: #588466;
  text-decoration: none;
}

.workshopcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: right;
  margin-right: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.workshopcircle:hover {
  opacity: 0.9;
}

.homeworkshop {
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 62px;
  font-weight: bold;
  margin-right: -300px;
  color: #588466;
  margin-top: 33%;
  margin-left: 220px;
}

.homeworkshop:hover{
  color: #588466;
  text-decoration: none;
}

.event-details-page {
  background-color: #eff2f1;
  height: 100%;
}

/* EVENT LIST VIEW STYLING ---------------------------------------*/
.list-page {
}
.media1 {
  height: 90px;
  background-color: #cee2da;
  margin-top: -15px;
}

.media1 h4 {
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Nothing You Could Do", cursive;
  color: #588466;
}

.media {
  width: 96%;
  height: 200px;
  margin: 20px;
  border: 3px solid #cee2da;
  border-radius: 10px;
}

/* END EVENT LIST VIEW STYLING ---------------------------------------*/


/* EVENT & WORKSHOP DETAILS VIEW STYLING ------------------------------------*/

.details-page {
  background-image: url("/images/background2.jpg");
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-page h2 {
  font-family: "Nothing You Could Do", cursive;
  color: #588466;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  padding: 60px;
}

.details-box {
  /*position: absolute;*/
  bottom: 60px;
  left: 250px;
  background-color: #77a894;
  opacity: 0.9;
  width: 800px;
  height: 670px;
  border: 5px solid #588466;
  -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow:hidden;
    -webkit-box-shadow:0 0 4em rgb(4,6,5);
    -moz-box-shadow:0 0 3em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
  margin: 0 auto;
}

.details-content {
  width: 620px;
  margin: 0 auto;
  font-family: "Raleway";
  font-size: 24px;
  color: black;
  overflow: scroll;
}

.details-content h3 {
  font-size: 36px;
  font-weight: bold;
}

.media img {
  height: 200px;
  width: 250px;
}

.event-edit-delete-link {
  text-align: center;
  border: 1px solid #588466;
  border-radius: 70px;
  padding: 15px;
  width: 200px;
  font-size: 22px;
  display: inline-block;
  background-color: #fcfcfc;
  color: #d84629;
  margin-left: 540px;
  margin-top: 20px;
  opacity: 0.9;
}

.workshop-edit-delete-link {
  text-align: center;
  border: 1px solid #588466;
  border-radius: 70px;
  padding: 15px;
  width: 250px;
  font-size: 22px;
  display: inline-block;
  background-color: #fcfcfc;
  color: #d84629;
  margin-left: 520px;
  margin-top: 20px;
  opacity: 0.9;
}
/* END EVENT & WORKSHOP DETAILS VIEW STYLING ------------------------------------*/


/* NEW EVENT/WORKSHOP VIEW STYLING ---------------------------------------------------*/
.new-page {
  background-image: url("/images/tea.jpg");
  background-size: cover;
  height: 100%;
}

.new-page h2 {
  font-family: "Nothing You Could Do", cursive;
  color: #588466;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  padding: 20px;
  background-color: #cee2da;
  margin-top: -15px;
  margin-bottom: 40px;
}

.create-event {
  background-color: white;
  opacity: 0.9;
  border: 3px solid #588466;
  -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow:hidden;
    -webkit-box-shadow:0 0 1em rgb(4,6,5);
    -moz-box-shadow:0 0 1em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
  width: 550px;
  height: 500px;
  margin: 80px auto;
  text-align: center;
  font-size: 16px;
  color: #545353;
  padding: 20px;
}

.create-event label {
  font-size: 14px;
}

.create-event input textarea {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
}

.savebutton {
  text-align: center;
  border: 1px solid #588466;
  border-radius: 70px;
  padding: 5px;
  width: 140px;
  font-size: 14px;
  display: inline-block;
  background-color: #fcfcfc;
  color: #d84629;
  opacity: 0.9;
}

.savebutton:hover {
  background-color: #e2e2e2;
}

.create-workshop {
  background-color: white;
  opacity: 0.9;
  border: 1px solid #588466;
  -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow:hidden;
    -webkit-box-shadow:0 0 1em rgb(4,6,5);
    -moz-box-shadow:0 0 1em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
  width: 550px;
  height: 500px;
  margin: 100px auto;
  text-align: center;
  font-size: 16px;
  color: #545353;
  padding: 20px;
}

.create-workshop input textarea {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 50%;
}
/* END NEW EVENT VIEW STYLING -------------------------------------------*/


/* EDIT EVENT/WORKSHOP PAGE STYLING -------------------------------------*/
.edit-page {
  background-image: url("/images/bicycle.jpg");
  background-size: cover;
  /*background: linear-gradient(to bottom right, #cee2da, white);*/
  height: 100%;
}

.edit-box {
  background-color: white;
  opacity: 0.9;
  border: 1px solid #588466;
  -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow:hidden;
    -webkit-box-shadow:0 0 1em rgb(4,6,5);
    -moz-box-shadow:0 0 1em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
  width: 550px;
  height: 500px;
  margin: 80px auto;
  text-align: center;
  font-size: 16px;
  color: #545353;
  padding: 20px;
}

/* EDIT EVENT/WORKSHOP PAGE STYLING -------------------------------------*/


/* FOOTER STYLING -------------------------------------------------------*/
