html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("/images/background1.jpg");*/
  font-family: "Raleway";
  height: 100%;
}


.homebackground {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  background-image: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  margin-top: -20px;
  height: 100px;
  background-color: #ededed;
}

.page-header h1 {
  font-size: 38px;
  font-weight: bold;
  padding: 24px;
  padding-left: 40px;
  color: #545353;
}

.searchbar {
  position: absolute;
  border-radius: 20px;
  width: 250px;
  height: 38px;
  margin-top: -67px;
  margin-left: 59%;

}

.navbar li {
  display: inline;
  padding: 40px;
  float: right;
  margin-top: -100px;
  margin-right: 120px;
  font-size: 20px;
  /*font-weight: bold;*/
  color: #588466;
}

.navbar li:hover{
  font-weight: bold;
  cursor: pointer;
}

.btn-group {
  float: right;
  padding-right: 30px;
  margin-top: -65px;
}

.eventcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: left;
  margin-left: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.eventcircle:hover {
  opacity: 0.9;
}

.homeevent{
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 68px;
  font-weight: bold;
  color: #588466;
  margin-left: -25%;
  margin-top: 33%;
}

.homeevent:hover{
  color: #588466;
  text-decoration: none;
}

.workshopcircle {
  font-family: "Nothing You Could Do", cursive;
  border: 1px solid white;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  float: right;
  margin-right: 150px;
  margin-top: 20%;
  background-color: #ededed;
  opacity: 0.7;
  cursor: pointer;
}

.workshopcircle:hover {
  opacity: 0.9;
}

.homeworkshop {
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
  display: inline-block;
  font-size: 62px;
  font-weight: bold;
  margin-right: -300px;
  color: #588466;
  margin-top: 33%;
  margin-left: 220px;
}

.homeworkshop:hover{
  color: #588466;
  text-decoration: none;
}

.panel-body{
  height: 60px;
  margin-top: -40px;
  background-color: white;
}
