<div class="textured">

<div class="login-page signup-page">
<h2> Sign Up </h2>
<br>
<!-- We use typeof here to avoid an error since the variable sometimes
    doesnt exist -->
<% if (typeof oopsMessage === "string") { %>
  <p class="error-message"> <%= oopsMessage%> </p>
<% } %>


<form id="form" method="post" action="/signup">
  <label for="full-name-input"> Your Name </label>
  <br>
  <input  id="full-name-input" type="text" name="signupFullName"
     placeholder="Enter full name">
  <br>
  <br>

  <label for="username-input"> Username </label>
  <br>
  <input  id="username-input" type="text" name="signupUsername"
    placeholder="Enter Username">
    <br>
    <br>

  <label for="password-input"> Password </label>
  <br>
  <input  id="password-input" type="password" name="signupPassword"
    placeholder="********">
    <br>
    <br>

  <button class="savebutton">Sign Up </button>
</form>
<br>
<br>


<a href="/auth/facebook"> Log In with Facebook </a>
<br>
<br>

<a href="/auth/google"> Log In with Google </a>
<br>
<br>

<a href="/login"> Already a member? Log in<a>


</div>
</div>
