<div class="media1">
  <div class="media-left media-middle">
  </div>
  <div class="media-body">
    <h4 class="media-heading"> Upcoming Events</h4>
  </div>
</div>

<% eventsAndStuff.forEach((oneEvent) => { %>
<div class="media eventList">
  <div class="media-left media-middle">

      <img class="media-object" src=" <%= oneEvent.photoUrl %>">
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading"> <%= oneEvent.name %></h3>
    <p> <i><%= prettyDate(oneEvent.date) %></i> </p>
    <a href="/events/<%= oneEvent._id%>/details"> view details </a>
  </div>

</div>
<%  }) %>
