<div class="media1">
  <div class="media-left media-middle">
  </div>
  <div class="media-body">
    <h4 class="media-heading"> Upcoming Events</h4>
  </div>
</div>


<div class="media" "eventList">
  <% eventsAndStuff.forEach((oneEvent) => { %>
  <div class="media-left media-middle">
      <img class="media-object" src=" <%= oneEvent.photoUrl %>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <%= oneEvent.name %></h4>
    <p> <%= oneEvent.date %> </p>
    <a href="/events/<%= oneEvent._id%>/details"> view details </a>
  </div>
    <%  }) %>
</div>
