<div class="new-page">
<h2> Create an Event </h2>

<div class="create-event">
<form method="post" action="/events" enctype="multipart/form-data">
  <!-- <label for="event-category-input">  Category </label>
  <input id="event-category-input" type="text" name="eventCategory">
  <br> -->

  <label for="event-name-input"> Name of Event </label><br>
  <input id="event-name-input" type="text" name="eventName">
  <br>
  <br>

  <label for="event-location-input"> Location </label><br>
  <input id="event-location-input" type="text" name="eventLocation">
  <br>
  <br>

  <label for="event-date-input"> Date of Event </label><br>
  <input id="event-date-input" type="date" name="eventDate">
  <br>
  <br>

  <label for="event-image-input"> Image Url </label><br>
  <input id="event-image-input" name="eventPhoto" type="file">
  <br>
  <br>

  <label for="event-description-input"> Description </label><br>
  <textarea id="event-description-input" name="eventDescription"></textarea>
  <br>
  <br>
  <br>

  <button class="savebutton"> Save Your Event </button>
</form>
</div>
</div>
